@import "tailwindcss";

@theme {
  --color-background: #051424;
  --color-surface: #122131;
  --color-primary: #00f5ff;
  --color-secondary: #c8c6c5;
}

body {
  background-color: var(--color-background);
  color: white;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
